[Desktop Entry]
Encoding=UTF-8
Name=Viruscoin
Comment=Viruscoin P2P Cryptocurrency
Comment[fr]=Viruscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Viruscoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/viruscoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/viruscoin128.png
MimeType=x-scheme-handler/viruscoin;
Categories=Office;
